In [1]:
import pandas as pd
import numpy as np

In [238]:
df = pd.read_csv("train.csv")

In [214]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [108]:
df.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

In [235]:
data = df.copy()

In [236]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [112]:
#data['Transported'] = -1 - for test

#### Заполняем nan средними значениями

In [163]:
data[data['HomePlanet'].isna() == False]['HomePlanet'].value_counts()

HomePlanet
Earth     4803
Europa    2131
Mars      1759
Name: count, dtype: int64

In [162]:
data[data['HomePlanet'].isna()]['HomePlanet']

Series([], Name: HomePlanet, dtype: object)

In [237]:
data.loc[data['HomePlanet'].isna(), "HomePlanet"] = 'Earth'

In [166]:
data['CryoSleep'].value_counts()

CryoSleep
False    5656
True     3037
Name: count, dtype: int64

In [238]:
data.loc[data['CryoSleep'].isnull(), 'CryoSleep'] = False

In [79]:
data['Destination'].value_counts()

Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: count, dtype: int64

In [239]:
data.loc[data['Destination'].isnull(), 'Destination'] = "TRAPPIST-1e"

In [116]:
data[data['Age'].isnull() == False]['Age'].mean()

28.82793046746535

In [240]:
data.loc[data['Age'].isnull(), 'Age'] = 28.82

In [171]:
data[data['VIP'].isnull() == False]['VIP'].value_counts()

VIP
False    8494
True      199
Name: count, dtype: int64

In [241]:
data.loc[data['VIP'].isnull(), 'VIP'] = False

In [87]:
data[data["RoomService"].isnull() == False]['RoomService'].mean()

224.687617481203

In [242]:
data.loc[data["RoomService"].isnull(), 'RoomService'] = 224.69

In [194]:
data[data["FoodCourt"].isnull() == False]['FoodCourt'].mean()

458.07720329024676

In [243]:
data.loc[data["FoodCourt"].isnull(), 'FoodCourt'] = 458.08

In [173]:
data.loc[data["ShoppingMall"].isnull() == False, 'ShoppingMall'].mean()

173.72916912197996

In [244]:
data.loc[data["ShoppingMall"].isnull(), 'ShoppingMall'] = 174.73

In [91]:
data[data["Spa"].isnull() == False]['Spa'].mean()

311.1387779083431

In [245]:
data.loc[data["Spa"].isnull(), 'Spa'] = 311.14

In [93]:
data[data["VRDeck"].isnull() == False]['VRDeck'].mean()

304.8547912992357

In [246]:
data.loc[data["VRDeck"].isnull(), 'VRDeck'] = 304.86

#### Из текстовых значений в числовые

In [123]:
data['HomePlanet'].unique()

array(['Europa', 'Earth', 'Mars', nan], dtype=object)

In [247]:
planets = {"Europa": 1, "Earth": 2, "Mars": 3}
data['HomePlanet'] = data['HomePlanet'].agg(lambda x: planets[x])

In [251]:
data['HomePlanet'] = data['HomePlanet'].astype(int)

In [248]:
data['CryoSleep'] = data['CryoSleep'].astype(int)

In [252]:
data[['Cabin_deck', 'Cabin_num', 'Cabin_side']] = data['Cabin'].str.split("/", expand=True)

In [253]:
data['Cabin_deck'].value_counts()

Cabin_deck
F    2794
G    2559
E     876
B     779
C     747
D     478
A     256
T       5
Name: count, dtype: int64

In [254]:
data.loc[data['Cabin_deck'].isnull(), "Cabin_deck"] = "F"

In [255]:
data[data['Cabin_num'].isna() == False]['Cabin_num'].astype(int).median()

427.0

In [256]:
data.loc[data['Cabin_num'].isna(), 'Cabin_num'] = 427

In [258]:
data['Cabin_num'] = data['Cabin_num'].astype(int)

In [259]:
data.loc[data['Cabin_side'].isna(), "Cabin_side"] = "S"

In [260]:
decks = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "T": 8}
sides = {"P": 1, "S": 2}

In [261]:
data['Cabin_deck'] = data.Cabin_deck.agg(lambda x: decks[x])
data["Cabin_side"] = data.Cabin_side.agg(lambda x: sides[x])

In [262]:
data['Cabin_deck'] = data.Cabin_deck.astype(int)
data['Cabin_side'] = data.Cabin_side.astype(int)

In [227]:
data['Destination'].unique()

array(['TRAPPIST-1e', '55 Cancri e', 'PSO J318.5-22'], dtype=object)

In [263]:
destinations = {"TRAPPIST-1e": 1, "PSO J318.5-22": 2, "55 Cancri e": 3}
data.Destination = data.Destination.agg(lambda x: destinations[x])

In [264]:
data['VIP'] = data['VIP'].astype(int)

In [265]:
data['Transported'] = data.Transported.astype(int)

In [266]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   int32
 2   CryoSleep     8693 non-null   int32
 3   Cabin         8494 non-null   object
 4   Destination   8693 non-null   int64
 5   Age           8693 non-null   float64
 6   VIP           8693 non-null   int32
 7   RoomService   8693 non-null   float64
 8   FoodCourt     8693 non-null   float64
 9   ShoppingMall  8693 non-null   float64
 10  Spa           8693 non-null   float64
 11  VRDeck        8693 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   int32
 14  Cabin_deck    8693 non-null   int32
 15  Cabin_num     8693 non-null   int32
 16  Cabin_side    8693 non-null   int32
dtypes: float64(6), int32(7), int64(1), object(3)
memory usage: 917.0+ KB

In [198]:
data.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported', 'Cabin_deck', 'Cabin_num', 'Cabin_side'],
      dtype='object')

In [27]:
final_columns = ['HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Cabin_deck', 'Cabin_num', 'Cabin_side', "Transported"]

print("Нужные колонки")
print(final_columns)

Нужные колонки
['HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Cabin_deck', 'Cabin_num', 'Cabin_side', 'Transported']

In [268]:
data[final_columns].to_csv("features/train_second.csv", index=False)

In [216]:
def do_second_dataset(input_dataset):
    dataset = input_dataset.copy()
    dataset.loc[dataset['HomePlanet'].isna(), "HomePlanet"] = 'Earth'
    dataset.loc[dataset['CryoSleep'].isnull(), 'CryoSleep'] = False
    dataset.loc[dataset['Destination'].isnull(), 'Destination'] = "TRAPPIST-1e"
    dataset.loc[dataset['Age'].isnull(), 'Age'] = 28.82
    dataset.loc[dataset['VIP'].isnull(), 'VIP'] = False
    dataset.loc[dataset["RoomService"].isnull(), 'RoomService'] = 224.69
    dataset.loc[dataset["FoodCourt"].isnull(), 'FoodCourt'] = 458.08
    dataset.loc[dataset["ShoppingMall"].isnull(), 'ShoppingMall'] = 174.73
    dataset.loc[dataset["Spa"].isnull(), 'Spa'] = 311.14
    dataset.loc[dataset["VRDeck"].isnull(), 'VRDeck'] = 304.86
    planets = {"Europa": 1, "Earth": 2, "Mars": 3}
    dataset['HomePlanet'] = dataset['HomePlanet'].agg(lambda x: planets[x])
    dataset['HomePlanet'] = dataset['HomePlanet'].astype(int)
    dataset['CryoSleep'] = dataset['CryoSleep'].astype(int)
    dataset[['Cabin_deck', 'Cabin_num', 'Cabin_side']] = dataset['Cabin'].str.split("/", expand=True)
    dataset.loc[dataset['Cabin_deck'].isnull(), "Cabin_deck"] = "F"
    dataset.loc[dataset['Cabin_num'].isna(), 'Cabin_num'] = 427
    dataset.loc[dataset['Cabin_side'].isna(), "Cabin_side"] = "S"
    decks = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "T": 8}
    sides = {"P": 1, "S": 2}
    dataset['Cabin_deck'] = dataset.Cabin_deck.agg(lambda x: decks[x]).astype(int)
    dataset["Cabin_side"] = dataset.Cabin_side.agg(lambda x: sides[x]).astype(int)
    destinations = {"TRAPPIST-1e": 1, "PSO J318.5-22": 2, "55 Cancri e": 3}
    dataset.Destination = dataset.Destination.agg(lambda x: destinations[x]).astype(int)
    dataset['VIP'] = dataset['VIP'].astype(int)
    #dataset.loc[:,'Transported'] = dataset['Transported'].astype(int)
    return dataset

In [131]:
def do_third_dataset(input_dataset):
    dataset = input_dataset.copy()
    dataset['TotalServices'] = dataset['RoomService'] + dataset['FoodCourt'] + dataset['ShoppingMall'] + dataset['Spa']
    dataset['Sex'] = -1
    dataset.loc[dataset['Name'].isnull() == False, 'Sex'] = dataset[dataset['Name'].isnull() == False]['Name'].str.split(" ", expand=True)[0].agg(lambda x: unique_names[x])
    return dataset.drop("Name", axis=1)

In [204]:
def do_fourth_dataset(input_dataset):
    names_list= pd.read_csv("features/name_list_full.csv").set_index("Full_name")['likelyGender'].agg(lambda x: 0 if x == "female" else 1).to_dict()
    dataset = input_dataset.copy()
    dataset['Sex'] = -1
    dataset.loc[dataset['Name'].isnull() == False, 'Sex'] = dataset[dataset['Name'].isnull() == False]['Name'].agg(lambda x: names_list[x])
    dataset['TotalServices'] = dataset['RoomService'] + dataset['FoodCourt'] + dataset['ShoppingMall'] + dataset['Spa']
    dataset['MinServices'] = dataset[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa']].min(axis=1)
    dataset['MeanServices'] = dataset[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa']].mean(axis=1)
    dataset['MaxServices'] = dataset[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa']].max(axis=1)
    return dataset

In [239]:
second_tt = do_second_dataset(df)

In [240]:
fourth_tt = do_fourth_dataset(second_tt)

In [244]:
fourth_tt[df.isna().any(axis=1) == False]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,Name,Transported,Cabin_deck,Cabin_num,Cabin_side,Sex,TotalServices,MinServices,MeanServices,MaxServices
0,0001_01,1,0,B/0/P,1,39.0,0,0.0,0.0,0.0,...,Maham Ofracculy,0,2,0,1,0,0.0,0.0,0.00,0.0
1,0002_01,2,0,F/0/S,1,24.0,0,109.0,9.0,25.0,...,Juanna Vines,1,6,0,2,0,692.0,9.0,173.00,549.0
2,0003_01,1,0,A/0/S,1,58.0,1,43.0,3576.0,0.0,...,Altark Susent,0,1,0,2,1,10334.0,0.0,2583.50,6715.0
3,0003_02,1,0,A/0/S,1,33.0,0,0.0,1283.0,371.0,...,Solam Susent,0,1,0,2,1,4983.0,0.0,1245.75,3329.0
4,0004_01,2,0,F/1/S,1,16.0,0,303.0,70.0,151.0,...,Willy Santantines,1,6,1,2,1,1089.0,70.0,272.25,565.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,1,0,A/98/P,3,41.0,1,0.0,6819.0,0.0,...,Gravior Noxnuther,0,1,98,1,1,8462.0,0.0,2115.50,6819.0
8689,9278_01,2,1,G/1499/S,2,18.0,0,0.0,0.0,0.0,...,Kurta Mondalley,0,7,1499,2,1,0.0,0.0,0.00,0.0
8690,9279_01,2,0,G/1500/S,1,26.0,0,0.0,0.0,1872.0,...,Fayey Connon,1,7,1500,2,1,1873.0,0.0,468.25,1872.0
8691,9280_01,1,0,E/608/S,3,32.0,0,0.0,1049.0,0.0,...,Celeon Hontichre,0,5,608,2,1,1402.0,0.0,350.50,1049.0
8692,9280_02,1,0,E/608/S,1,44.0,0,126.0,4688.0,0.0,...,Propsh Hontichre,1,5,608,2,0,4814.0,0.0,1203.50,4688.0

In [243]:
fourth_tt['Transported'] = fourth_tt['Transported'].astype(int)

In [245]:
fourth_tt.drop(["Cabin", 'Name'], axis=1).to_csv("features/train_foruth_nonull.csv", index=False)

#### Напишем функцию, которая с помощтю api будет определять пол человека и выдавать 1 - если мужчина и 0 - если женщина

In [69]:
import requests
#dt= df['Name'].str.split(" ", expand=True)
unique_names = {n: -1 for n in list(dt[0].unique())}

def obtain_sex_by_name(name):
    res = requests.get(f"https://api.genderize.io/?name={name}").json()
    try:
        if res['gender'] == "male":
            return 1
        elif res['gender'] is None:
            return -1
        else:
            return 0
    except:
        print(name)
        print("error")

In [100]:
def make_unique_list():
    i = 2708
    for name in list(unique_names.keys())[2708:]:
        print(i, name)
        unique_names[name] = obtain_sex_by_name(name)
        i +=1

#### Готовим датасет для определения пола через сервис [https://namsor.app](https://namsor.app)

In [118]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
big_df = pd.concat([train_df, test_df], ignore_index=True)
first_name = big_df['Name'].str.split(" ", expand=True)[0].unique()

In [136]:
big_df[big_df['Name'].isna() == False]['Name'].str.split(" ", expand=True).rename(columns={0:'first_name', 1:'last_name'}).to_csv("features/name_list.csv", index=False)

In [146]:
big_df[big_df['Name'].isna() == False]['Name'].str.split(" ", expand=True).rename(columns={0:'first_name', 1:'last_name'})[0:4997].to_csv("features/name_list_1.csv", index=False)
big_df[big_df['Name'].isna() == False]['Name'].str.split(" ", expand=True).rename(columns={0:'first_name', 1:'last_name'})[4997:9997].to_csv("features/name_list_2.csv", index=False)
big_df[big_df['Name'].isna() == False]['Name'].str.split(" ", expand=True).rename(columns={0:'first_name', 1:'last_name'})[9996:].to_csv("features/name_list_3.csv", index=False)

In [151]:
name_list_1 = pd.read_csv("features/namsor_genderize-name_name_list_1.csv")
name_list_2 = pd.read_csv("features/namsor_genderize-name_name_list_2.csv")
name_list_3 = pd.read_csv("features/namsor_genderize-name_name_list_3.csv")

In [173]:
name_list_full = pd.concat([name_list_1, name_list_2, name_list_3], ignore_index=True)
name_list_full['Full_name'] = name_list_full['firstName'] + " " +  name_list_full['lastName']
name_list_full[['Full_name', 'likelyGender']].to_csv("features/name_list_full.csv", index=False)

In [203]:
fourth_tt